<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>
                Demo of Angular + Bootstrap animated buttons
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <form #basic="ngForm" (submit)="onBasicSubmitted(basic)">
                <app-component-animated-button [state]="basicState" [options]="{defaultClass: 'btn-default', iconPosition: 'left'}">
                    Submit
                </app-component-animated-button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row" style="padding-top:20px;">
        <div class="col-sm">
            <form #error="ngForm" (submit)="onErrorSubmitted(error)">
                <app-component-animated-button [state]="errorState" [options]="{defaultClass: 'btn-default', iconPosition: 'left'}">
                    Wrong
                </app-component-animated-button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
