<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>
                Demo of Angular + Bootstrap animated buttons
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {{ options | json }}
            <form #basic="ngForm" (submit)="onBasicSubmitted(basic)">
                <app-component-animated-button [state]="basicState" [options]="options">
                    Submit
                </app-component-animated-button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row" style="padding-top:20px;">
        <div class="col-sm">
            <form #error="ngForm" (submit)="onErrorSubmitted(error)">
                <app-component-animated-button [state]="errorState" [options]="{defaultClass: 'btn-default', iconPosition: 'left'}">
                    Wrong
                </app-component-animated-button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row" style="padding-top:20px;">
        <div class="col-sm">
            <form #validation="ngForm" (submit)="onValidationSubmitted(validation)">
                <div class="form-group">
                    <label for="formRequiredField">Required field + min length 2</label>
                    <input type="text" class="form-control" id="formRequiredField" name="formRequiredField" autocomplete="off" placeholder="Enter your name" required minlength="2" [(ngModel)]="requiredField" #formRequiredField="ngModel">
                    <div *ngIf="formRequiredField.invalid && (formRequiredField.dirty || formRequiredField.touched)">
                        <div *ngIf="formRequiredField.errors.required" class="pt-2">
                            This is a required field.
                        </div>
                        <div *ngIf="formRequiredField.errors.minlength" class="pt-2">
                            Minimum length is 2 chars.
                        </div>
                    </div>
                </div>
                <app-component-animated-button [state]="validationState" [disabled]="validation.invalid" [options]="{defaultClass: 'btn-primary', iconPosition: 'left'}">
                    Validation
                </app-component-animated-button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
